.cart {
    &-header {
        margin-top: 1rem;

        h3 {
            font-size: 1.4rem;
            margin-bottom: 1rem;
        }
    }

    &-content {
        &-info {
            display: flex;
            padding-bottom: 1.5rem;
            margin-bottom: 1.5rem;

            border-bottom: 13px solid #f5f5f5;
        }

        &-left {
            a {
                img {
                    width: 100%;
                }
            }
        }

        &-right {
            h5 {
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                font-size: 0.95rem;
                font-weight: normal;
                margin-bottom: 0.8rem;
            }

            &-info {
                padding: 0.35rem 0.4rem;
                background-color: #f1f1f1;
            }

            p {
                margin-bottom: 0;
            }

            &-price {
                margin-top: 0.6rem;


                span:first-child {
                    font-size: 1.1rem;
                    font-weight: 600;
                    margin-right: 0.5rem;

                }

                span:last-child {
                    font-size: 1rem;
                    font-weight: 400;
                    text-decoration: line-through;
                    background-color: #fef08a;
                    color: #565656;
                    padding: 0 0.2rem;
                    border-radius: 0.2rem;
                }
            }

            &-control {
                display: flex;
                margin-top: 0.8rem;
                align-items: center;

                &--updown {
                    // padding: 0.3rem 0.6rem;
                    height: 2rem;
                    width: 2.2rem;
                    align-items: center;
                    border: 1px solid #747474;
                    cursor: pointer;
                    text-align: center;
                    user-select: none;
                    -moz-user-select: none;
                    -webkit-user-select: none;
                    -ms-user-select: none;

                }

                &--updown:hover {
                    background-color: #f5f5f5;
                }

                &--value {
                    height: 2rem;
                    width: 2.4rem;
                    border: 1px solid #747474;
                    text-align: center;
                    font-size: 1.1rem;
                }
            }
        }
    }

    &-bottom {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        border-top: 1px solid rgba(0, 0, 0, 0.12);
        z-index: 30;
        background-color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.6rem 0.5rem 0.6rem 0.5rem;

        &-left {
            font-size: 1rem;
            color: #000;
            font-weight: 500;
        }

        &-right {
            height: 100%;

            a {
                text-decoration: none;
                padding: 0.6rem;
                background-color: rgb(8, 8, 8);
                color: #fff;
                font-weight: 500;
                border-radius: 0.2rem;
            }

            a:hover {
                color: #fff;
            }
        }
    }


}

@media screen and (min-width: 1024px) {
    .cart {
        &-content {
            &-info {
                display: flex;
                align-items: center;
            }

            &-left {
                a {
                    img {
                        width: 80%;
                    }
                }
            }

            &-right {

                h5 {
                    font-size: 1.2rem;
                    font-weight: 500;
                }

                &-info {
                    background-color: #fff;
                    padding: 0;
                }
            }
        }

        .cart-empty {
            margin: 3rem 0 500px;
        }
    }
}

@media screen and (max-width: 1023px) {
    .cart {
        .cart-empty {
            margin: 3rem 0 300px;
        }

    }
}

@media screen and (max-width: 414px) {
    .cart {
        .cart-empty {
            margin: 3rem 0 200px;
        }

    }
}