.item {
    &-top {
        img {
            width: 100%;
        }
    }

    &-title {
        font-size: 1.05rem;
        font-weight: 600;
    }

    &-desc {
        font-size: 0.95rem;
    }

    &-detail-price {

        span:first-child {
            font-size: 1.3rem;
            font-weight: 600;
            margin-right: 1rem;

        }

        span:last-child {
            font-size: 1.05rem;
            font-weight: 400;
            text-decoration: line-through;
            background-color: #fef08a;
            padding: 0 0.2rem;
            border-radius: 0.2rem;
        }
    }

    &-control {
        display: flex;
        align-items: center;


        &-updown {
            padding: 0.3rem 0.7rem;
            border: 1px solid #747474;
            cursor: pointer;
            user-select: none;
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
        }

        &-updown:hover {
            background-color: #f5f5f5;
        }


        &-value {
            padding: 0.3rem 1.2rem;
            border: 1px solid #747474;

        }
    }

    &-btn {
        margin-top: 1.5rem;


        &-add,
        &-buy {
            border: 1px solid #000;
            margin-right: 1.5rem;
            padding: 0.4rem 0.8rem;
            border-radius: 0.2rem;
        }

        &-add {
            background-color: #000;
            color: #fff;
        }

    }
}


@media screen and (max-width:767px) {
    .item-res {
        display: none;
    }
}


@media screen and (min-width: 768px) {
    .item-desc {
        display: none;
    }

    .item-res {
        display: block;
        padding-top: 2rem;

    }
}