.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    background-color: white;
    z-index: 9;

    padding: 1rem;

    &-content {
        display: flex;
        justify-content: space-between;

        svg {
            font-size: 1.4rem;
            cursor: pointer;
        }

        &-title {
            font-weight: bolder;
            font-size: 1.5rem;
            // box-shadow: 5px 5px yellow;
            text-shadow: 2px 2px #fef08a;
            color: #fbbf24;
            margin: 0;
        }

        &-list {
            position: fixed;
            list-style: none;
            top: 0;
            bottom: 0;
            left: 0;
            width: 50%;
            background-color: white;
            z-index: 10;
            margin: 0;
            padding: 0;
            text-align: center;
        }

        &-item:first-child {
            margin-top: 2.5rem;
            font-size: 1.5rem;
            font-weight: bold;
        }

        &-item {
            margin-bottom: 0.8rem;
        }

        &-item a {
            font-size: 1.2rem;
            margin-bottom: 0.5rem;
            cursor: pointer;
            text-decoration: none;
            color: black;
        }

        .modal {
            position: fixed;
            background-color: rgba(128, 128, 128, 1);
            opacity: 0.5;
            display: block;
            z-index: 1;

        }

        &--relative {
            position: relative;
        }
    }

    &-icon-list {
        display: flex;
        align-items: center;
        justify-content: center;

        a {
            color: #000;
        }

        a:hover {
            color: #000;
        }

        input {
            width: 5rem;
            display: none;
        }

        input,
        button {
            border: none;
            background-color: white;
        }

        &--pointer {
            cursor: pointer;
        }



        &--pointer:hover &-infor {
            display: block;
        }

        &-infor {
            display: none;
            position: absolute;
            right: 17px;
            top: 27px;
            background-color: #fff;
            border: 1px solid #c6c6c6;
            border-radius: 0.2rem;

            p {
                cursor: pointer;
                border-bottom: 1px solid #d9d7d7;
                margin-bottom: 0;
                padding: 0.6rem 0.8rem;
            }

            p:hover,
            button:hover {
                background-color: #f5f5f5;
            }

            button {
                cursor: pointer;
                padding: 0.6rem 0.8rem;
            }
        }

        &-img {
            border-radius: 50%;
            width: 1.6rem;
            height: 1.6rem;
        }

        h4 {
            margin-bottom: 0;
            font-size: 1.2rem;
            font-weight: 400;
            margin-left: 0.4rem;
        }
    }

    &-icon-list:last-child {
        display: none;
    }

    &-icon-cart {
        position: relative;

    }

    &-icon-num {
        position: absolute;
        top: -8px;
        right: -10px;
        border-radius: 50%;
        background-color: red;
        color: white;
        width: 1rem;
        height: 1rem;
        text-align: center;
        font-size: 0.7rem;
        line-height: 1rem;
        font-weight: bold;
    }

}

@media screen and (max-width:1023px) {
    .header {
        &-contentres {
            display: none;
        }
    }
}

@media screen and (min-width: 1024px) {
    .header {
        &-content:first-child {
            display: none;
        }

        &-contentres {
            display: block;

            ul {
                list-style: none;
                display: flex;
                align-items: center;
                padding-left: 0;
                margin-bottom: 0;
                justify-content: center;

                li {
                    padding: 0.5rem 0.4rem;
                    margin-left: 1rem;

                    a {
                        text-decoration: none;
                        color: #000;
                        font-weight: 500;
                        font-size: 1.2rem;
                    }
                }
            }
        }

        &-icon-list:last-child {
            display: flex;
        }
    }
}

@media screen and (min-width:1200px) {
    .header {
        padding: 1rem 110px;
    }
}


@media screen and (min-width: 1024px) {
    .header {
        // padding: 1rem 110px;

        &-content:last-child {
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }

        &-icon-list {
            margin-right: 1rem;
            // border: 1px solid #f5f5f5;

            input {
                display: block;
                padding: 0.5rem 1rem;
                outline: none;
                background-color: #f5f5f5;
                min-width: 200px;
            }

            button {
                padding: 0.5rem 0.7rem;
            }
        }
    }
}